#Username{
    background-color: #4aaaa5;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.img-thumbnail {
    width: 350px;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: grey;
    text-align: center;
    bottom: 0;
}

main{
    background-color:white;
}

h1{
    font-weight: bold;
    font-size: 24px;
    color: grey;
}

.submit-btn {
    margin-top: 1rem;
}
.aboutme{
    width: 350px;
    height: auto;
}